<html>

<head>

</head>
<title>Summary Report for <%=fromDate%> to <%=toDate%></title>
<h2>
    <p>
        Summary Report for <%=fromDate%> to <%=toDate%>
    </p>
</h2>
<h3>
    <p>
        Total Amount(Rs.): <%=totalAmount%>
    </p>
</h3>

<h2><a href="/receipt/summary-report">Go Back</a></h2>
<h2><a href="/receipt/detailed-report">Detailed Report</a></h2>
<h2><a href="/receipt/reports">Reports Home</a></h2>
<h2><a href="/admin/home">Admin Home</a></h2>
<footer>
        <div style="text-align: center;">
                <p>Developed by <a href="https://octointernet.com">Nishadh Amonkar</a> and Tanay Amonkar<br>
                    <a href="mailto:marutimandirdavorlim@gmail.com">Email Us</a></p>
        </div>
       
      </footer>


</html>